body{
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}
h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 37.6933px;
    line-height: 46px;

    color: #1C083D;
    margin: 0;
    margin-bottom: 40px;
}
h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 58.6933px;
    line-height: 72px;
    /* identical to box height */

    color: white;
    margin: 0;
}
h2 span{
    color: #FF9E0D;
}
h3{
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 36.6933px;
    line-height: 43px;
    /* identical to box height */
    margin: 0;
    
    color: rgba(255, 255, 255, 0.25);
}
h4{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16.6933px;
    line-height: 20px;
    /* identical to box height */
    margin: 0;
    margin-top: 50px;
    margin-left: 22px;
    
    
    color: #FFFFFF;
}
h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20.6933px;
    line-height: 25px;
    margin: 0;
    margin-top: 10px;
    margin-left: 22px;

    color: #FFFFFF;
}
.inputside{
    position: fixed;
    width: 50%;
    /* min-width: 600px; */
    height: 100%;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.input-content{
    margin: 54px 0 54px 104px;
}
.colorfulside{
    position: fixed;
    width: 50%;
    height: 100%;
    right: 0;
    background-image: url('img/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
label{

    width: 140px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 15.6933px;
    line-height: 19px;

    color: #FF9E0D;
}
.eachinput{
    margin-bottom: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
select{
    width: 280px;
    height: 42px;
    background: white;
    background-image: url('img/selectarrow.svg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    border: 1px solid #939393;
    border-bottom: 3px solid #323232;
    box-sizing: border-box;
    padding-left: 8px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 13.6933px;
    line-height: 17px;
    /* identical to box height */
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;

    color: #575757;
}
.opt{
    background-color: white;
}
input{
    background: none;
    width: 276px;
    height: 42px;
    border: 0;
    border-bottom: 1px solid #323232;   
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    /* identical to box height */


    color: #171717;
}
input:focus{
    outline: none;
}
input::placeholder{
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 13.6933px;
    line-height: 17px;
    /* identical to box height */


    color: #B7B7B7;
}
.comments{
    margin-top: 48px;
    position: relative;
    width: 100%;

    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 12px;

    
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
}
.comments label{
    position: relative;
    width: 100%;
    height: 32px;
    background-image: url('img/threedot.svg');
    background-position: top left;
    background-repeat: no-repeat;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
    font-weight: 600;
}
textarea{
    width: 85%;
    padding: 5px 24px 10px 6px;
    border: none;
    margin-top: 8px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    /* identical to box height */
    resize: none;

    color: #171717;
}
textarea:focus{
    outline: none;
}
textarea::placeholder{
    font-family: Montserrat;
    font-weight: normal;
    font-size: 13.6933px;
    line-height: 17px;
    /* identical to box height */


    color: #B7B7B7;
}
.buttons{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dua-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-kataterlarang{
    width: 112px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12.69px;
    line-height: 114%;

    color: #686868;

    border: none;
    background: none;
    text-align: left;
}
.btn-kataterlarang2{
    width: 202px;
    color: rgb(211, 211, 211);
    margin-top: 42px;
    transition: 0.25s;
    filter: opacity(0);
    z-index: 0;
    
}
.btn-kataterlarang:focus{
    outline: none;
    text-decoration: underline;
}
.btn-kataterlarang:hover{
    text-decoration: underline;
}
button#submit{
    width: 132px;
    height: 46px;

    margin-left: 8px;

    background-image: url('img/btnsubmit.svg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-left: 32px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15.69px;
    line-height: 19px;

    color: #FFFFFF;
}
#reset{
    width: 108px;
    height: 46px;

    margin: 4px;

    background-image: url('img/btnreset.svg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-left: 32px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15.69px;
    line-height: 19px;

    color: #FFFFFF;
}
button:focus{
    filter: brightness(0.8);
    box-shadow: none;
    outline: none;
}
.default-content{
    margin: 48px 0 0 68px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.namebox{
    width: 331px;
    height: 137px;
    margin-top: 80px;

    background-image: url('img/namebox.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 12;
}
.floater{
    position: absolute;
    left: -26px;
    bottom: 26px;
}

.result-modal{
    position: absolute;
    width: 536px;
    height: 558px;
    margin: 0;
    left: 72px;
    top: 54px;
    background-color: #1C083D;
    border-radius: 16px;
    
    transition: 1s;
    transform: translateX(-608px) scale(0.7);
}
.background-modal{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('img/threedotwarna.svg');
    background-position: left top;
    background-repeat: no-repeat;
}
.container-hasil{
    margin: 0 58px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.h-result{
    color: white;
    margin: 0;
    margin-bottom: 24px;
    margin-top: 68px;
}
.container-hasil p{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin: 0;

    color: #FFFFFF;
}
.warning{
    width: 423px;
    height: 64px;
    margin-bottom: 42px;

    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
}
.warning-ada{
    background: rgba(252, 73, 73, 0.12);
    border: 3px solid #FC4949;
}
.warning-aman{
    background: rgba(0, 163, 36, 0.13);
    border: 3px solid #00A324;
}
.warning p{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16.6933px;
    line-height: 20px;

    color: #FFFFFF;
}

.closer{
    position: absolute;
    top: 0;
    right: 0;
    width: 107px;
    height: 41px;
    background: none;
    border: none;
    background-image: url('img/closer.svg');
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    transition: 0.25s;
}
.closer2{
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 36px;
    background: none;
    border: none;
}
.closer:focus{
    outline: none;
    filter: brightness(1.5);
}
.closer:hover{
    filter: brightness(1.5);
    transform: scale(1.05);
}

div.daftar-kata-terlarang{
    filter: opacity(0.65);
    position: absolute;
    top: 414px;
    left: 68px;
    width: 331px;
    height: 154px;
    border-radius: 8px;
    background-image: url('img/popupterlarang.svg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
p.kataterlarang{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20.6933px;
    line-height: 25px;
    margin-top: 22px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 12px;
    
    color: #1C083D;
}
p.apaaja{
    font-family: Consolas;
    font-style: normal;
    font-weight: bold;
    font-size: 16.6933px;
    line-height: 20px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 0;
    
    color: #1C083D;
}
.daftar-kata-terlarang button{
    position: absolute;
    top: 0;
    background: none;
    border: none;
    height: 26px;
    width: 100%;
    z-index: 10;
}
.content-terlarang{
    position: absolute;
    top: 26px;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .inputside{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .colorfulside{
        display: none;
    }
    .input-content{
        transform: scale(0.8);
        margin: 0;
        margin-top: 94px;
    }
    .eachinput{
        flex-direction: column;
        align-items: flex-start;
    }
    .comments{
        align-items: flex-end;
    }
    .comments label{
        margin-top: 0;
        font-size: 18px;
    }
    label{
        width: 200px;
        font-size: 22px;
        margin-top: 12px;
    }
    select{
        margin-top: 18px;
        font-size: 32px;
    }
    select, input{
        width: 100%;
        height: 64px;
        font-size: 18px;
    }
    input{
        margin-top: 4px;
    }
    input::placeholder{
        font-size: 18px;
    }
    textarea{
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
    }
    .h1formulir{
        text-align: center;
    }
    .image-header{
        background-image: url('img/header-hp.svg');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;

        height: 72px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: -1;
    }
    .input-content{
        margin-top: 250px;
        z-index: -10;
    }
    .result-modal{
        width: 378px;
        height: 640px;
        left: 10px;
        top: 104px;
    }
    .warning{
        width: 310px;
    }
    .creditnama{
        display: unset !important;
        background-image: url('img/creditnama.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 482px;
        position: absolute;
        margin: 32px 0;
        border-radius: 16px;
    }
    .image-header{
        display: unset !important;
    }
    .btn-kataterlarang{
        opacity: 0;
    }
}
.creditnama{
    display: none;
}
.image-header{
    display: none;
}